.diamond-shape {
  position: absolute;
  background: blue;
  height: 70px;
  text-align: center;
  transform:rotate(45deg);
  width:70px;
  cursor: pointer;
}
.item-count {
  color: white;
  display: table-cell;
  height: 70px;
  transform: rotate(-45deg);
  vertical-align: middle;
	width:70px;
}

.diamond-shape:hover {
  opacity: 0.7;
}

