.headerBody {
  margin-left: 10px;
}

.headerContent {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.selectContent {
  display: block;
  position: relative;
}

.headerRight {
  margin-left: auto;
  width: 600px;
  margin-top: 20px;
}