.SkewedRect {
  display:flex;
  position: absolute;

  .parallelogram {
    transform: skew(-30deg); 
  }

  .skewedText {
    transform: skew(30deg);
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .largeSkew {
    background-color: #3382c5;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }

  .mediumSkew {
    background-color: #52aadb;
    font-size: 15px;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
  }

  .smallSkew {
    background-color: #4fa79d;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
  }

  .largeText {
    font-size: 50px;
    color: #3382c5;
  }

  .mediumText {
    font-size: 18px;
    color: #4fa79d;
  }

  .smallText {
    font-size: 12px;
    color: #4fa79d;
  }
  
}
/*
background
#3382c5 dark blue
#52aadb light blue
#4fa79d green
#cbcae4 pink
#d7d9d9 dark grey
#eaecec light grey

border pink
#5444a2



*/