.App {
  text-align: center;
  width: 1550px;
  margin: auto;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background1 {
  width: 1000px;
  height: 400px;
  background-color: #d7d9d9;
  position: relative;

}

.background2 {
  width: 1000px;
  height: 300px;
  position: relative;
  background-color: #eaecec;
}

.header1 {
  left: 0;
  top: 20%;
  position: absolute;
  font-size: 22px;
  color: RGB(243, 245, 244);
  transform: rotate(270deg) translate(-50%, -50%);
}


.header2 {
  left: 0;
  top: 20%;
  font-size: 22px;
  position: absolute;
  color: RGB(254, 255, 254);
  transform: rotate(270deg) translate(-50%, -50%);
}

.headerSide {
  margin-bottom: 10px;
  display: flex;
}

.logo {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: 20px;
}

.logoShape {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60px;
  margin: auto;
}

.logoShape1 {
  margin: auto;
}

.logoShape2 {
  margin: auto;
}

.logoTitle {
  margin-top: 15px;
  margin-bottom: 10px;
}

.headerContent {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.selectContent {
  display: block;
  position: relative;
}

.headerRight {
  margin-left: auto;
  width: 600px;
}

.bodySide {
  display: flex;
  margin-bottom: 10px;
}

.greySide {
}

.greyBodySide {
  margin: 0px 20px 10px 20px;
}

.bodyFooterSide {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.greenSide {
  margin-left: 50px;
}

.footerSide {
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
  text-align: center;
  display: inline-flex;
}
